html{
    font-family: "Helvetica Neue", Roboto, sans-serif;
}
body{
    /* color:  rgb(47, 64, 94); */
    color: #ccc;
    background-color: rgb(36, 47, 65);
}
div{
    border-radius: 15px;
}
i{
    border-radius: 15px;
    background-color: rgba(29, 37, 51, 1);
    padding: 15px 15px 15px 15px;
}
#title{
    background-color: rgba(29, 37, 51, 1);
    width: 1000px;
    margin-top: 50px;
    margin-left: -500px;
    overflow: visible;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#searchbox{
    display: inline;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background: rgba(34, 43, 59, 1);
    margin-bottom: 2.5%;
}
#search{
    background: transparent;
    border: none;
    outline: none;
    overflow: visible;
    caret-color: #ccc;
    color: #ccc;
    width: 90%;
    height: 100%;
    padding-left: 5px;
}
.cont1{
    width: 0px;
    margin: auto;
    overflow: visible;
    text-align: center;
}
.cont2{
    width: 900px;
    margin-left: -450px;
}
.upperboxes{
    display: flex;
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
    height: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.box{
    background-color: rgba(34, 43, 59, 1);
    float: left;
    
}
.boxtitle{
    background-color: rgba(29, 37, 51, 1);
    opacity: 1;
    text-align: center;
    color: #ccc;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
#box-1{
    margin-left: -400px;
    margin-right: 50px; /* 350 + this * -1 should equal margin-left */
}
#box-2{
    margin-left: 50px;
}
.weather{
    margin-top: 15px;
}
.linkitems{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 1;
}
a:link{
    text-decoration: none;
    color:#ccc;
}
a:visited{
    text-decoration: none;
    color: #ccc;
}
a:hover {
    text-decoration: underline;
}
.bottom-left-busta-pepelaugh{
    position: absolute;
	bottom: 0;
}
.bottom-left-busta-pepelaugh a{
    color: #555;
	font-size: 9px;
	display: none;
}
.bottom-left-busta-pepelaugh li:hover a{
    color: #ccc;
}
.bottom-left-busta-pepelaugh ul{
    list-style: none;
	height: 60px;
	width: 60px;
	padding-top: 30px;
}
.bottom-left-busta-pepelaugh ul:hover li a{
    display: block!important;
}