body{
    color:  rgb(47, 64, 94);
    background-color: rgb(36, 47, 65);
}
div{
    border-radius: 15px;
}
#title{
    background-color: rgb(29, 37, 51);
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    overflow: visible;
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
input{
    overflow: visible;
    border-radius: 15px;
    border-style: none;
    caret-color: #ccc;
    color: #ccc;
    outline: none;
    padding-left: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 97%;
    height: 100%;
    background-color: rgb(34, 43, 59);
    margin-bottom: 2.5%;
}
#searchbox{
    margin-left: 25%;
    margin-right: 25%;
}
.cont{
    width: 0px; /* change to 1 for debugging */
    margin: auto;
    overflow: visible;
    /* background: red; */
}
.upperboxes{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    height: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.box{
    background-color: rgb(34, 43, 59);
    float: left;
    
}
.boxtitle{
    background-color: rgb(29, 37, 51);
    text-align: center;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
#box-1{
    margin-left: -400px;
    margin-right: 50px; /* 350 + this * -1 should equal margin-left */
}
#box-2{
    margin-left: 50px;
}
.linkitems{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link{
    text-decoration: none;
    color:#ccc;
}
a:visited{
    text-decoration: none;
    color: #ccc;
}
a:hover {
    text-decoration: underline;
}