html{
    font-family: "Helvetica Neue", Roboto, sans-serif;
}
body{
    color:  rgb(47, 64, 94);
    background-color: rgb(36, 47, 65);
}
div{
    border-radius: 15px;
}
#title{
    background-color: rgb(29, 37, 51);
    width: 1000px;
    margin-top: 50px;
    margin-left: -500px;
    overflow: visible;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
input{
    overflow: visible;
    border-radius: 15px;
    border-style: none;
    caret-color: #ccc;
    color: #ccc;
    outline: none;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 97%;
    height: 100%;
    background-color: rgb(34, 43, 59);
    margin-bottom: 2.5%;
}
/* #searchbox{
    margin-left: 25%;
    margin-right: 25%;
} */
.cont1{
    width: 0px; /* change to 1 for debugging */
    margin: auto;
    height: 450px;
    /* background: red; */
}
.cont2{
    width: 900px;
    margin-left: -450px;
}
.upperboxes, .lowerboxes{
    display: flex;
    grid-template-columns: 1fr 1fr;
}
.upperboxes:hover, .lowerboxes:hover{
    height: 250px;
}
.upperboxes .linkitems, .lowerboxes .linkitems{
    display: none;
    transition-delay: 1s;
}
.upperboxes:hover .linkitems, .lowerboxes:hover .linkitems{
    display: inline;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.lowerboxes{
    display: flex;
    margin-top: 40px;
    margin-left: -175px;
    grid-template-columns: 1fr 1fr;
}
.lowerboxes:hover .linkitems{
    display: inline;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#box1, #box2, #box3{
    /* box animation code here */
    height: 100px;
    transition: height 750ms;
}

#box1:hover, #box2:hover, #box3:hover{
    height: 250px;
}
.box{
    background-color: rgb(34, 43, 59);
    float: left;
}
.boxtitle{
    background-color: rgb(29, 37, 51);
    color: #ccc;
    text-align: center;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
#box-1{
    margin-left: -400px;
    margin-right: 50px; /* 350 + this * -1 should equal margin-left */
}
#box-2{
    margin-left: 50px;
}
a:link{
    text-decoration: none;
    color:#ccc;
}
a:visited{
    text-decoration: none;
    color: #ccc;
}
a:hover {
    text-decoration: underline;
}
.bottom-left-busta-pepelaugh{
    position: absolute;
	bottom: 0;
}
.bottom-left-busta-pepelaugh a{
    color: #555;
	font-size: 9px;
	display: none;
}
.bottom-left-busta-pepelaugh li:hover a{
    color: #ccc;
}
.bottom-left-busta-pepelaugh ul{
    list-style: none;
	height: 60px;
	width: 60px;
	padding-top: 30px;
}
.bottom-left-busta-pepelaugh ul:hover li a{
    display: block!important;
}